*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	overflow: hidden;
	font-family: -apple-system, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overscroll-behavior-x: none;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
}

.flex {
	display: flex;

  &.jc-sb {
    justify-content: space-between;
  }

  &.jc-c {
    justify-content: center;
  }
}

@for $i from 1 through 10 {
  .flex.gap-#{$i} {
    gap: #{$i}rem;
  }
}
