$dark-a: #1E2021;
$dark-b: #333334;
$dark-c: #2B2C31;
$dark-d: rgba(30, 32, 33, 0.5);;

$grey-a: #8a8a8a;
$grey-b: #4F4F4F;
$grey-c: #EAEAEB;

$white-a: #fff;

$blue-a: #ECF2FF;
$blue-b: #d9e6ff;
$blue-c: #87A1FF;

$br: .4rem;

$tt: 200ms ease;